<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.adhdapp.v002"
        versionCode = "10"
        version     = "1.1.0" >

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="android-minSdkVersion" value="5" />

    <name>IDA App</name>

    <description>
        IDA App
    </description>

    <author email="l.vanegeraat@gmail.com" href="http://luukvanegeraat.com">Luuk van Egeraat</author>

    <icon src="icon.png" />

    <plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>

    <gap:splash src="splash.png" />
    <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />

</widget>