<div class="help-page">

  <a class="feedback" target="_blank" href="mailto:ida-projektet@cns.ki.se?subject=Feedback%20p%C3%A5%20ADHD%20App">
    <i class="fa fa-comment-o"></i> Skicka feedback
  </a>

  <div class="help-text">
    <h1>Hjälp</h1>

    <h2>IDA – från kaos till koll</h2>
    <p>
      IDA är en kalender, en Att-Göra-lista och ett smart system för att inte glömma saker i en och 
      samma app. Ett särskilt verktyg för att fokusera på bara <i>en</i> sak när det verkligen 
      behövs ingår också.
    </p>
    
    <h2>Hur hittar jag rätt i IDA?</h2>
    <p>
      Menyn når du alltid via knappen längst upp till vänster. Fyra av sidorna är extra viktiga.
    </p>

    <h3>Att-Göra-listan</h3>
    <p>
      Här kan du både lägga in allt du kommer på att du behöver göra eller minnas och se allt 
      du bokat in i kalendern just idag och andra viktiga och aktuella uppgifter att ta tag i. Låt 
      inte aktiviteterna ligga för länge som <i>Oplanerade</i> utan gör klart dem eller planera dem mer 
      ordentligt så fort du får tid.
    </p>
    Ju mer du använder IDA, desto bättre vardagskompass blir den här sidan för dig!

    <h3>Organisera alla aktiviteter</h3>
    <p>
      När du ska se över din plan för morgondagen eller resten av veckan eller verkligen bena ut 
      hur du bäst angriper en stor arbetsuppgift går du hit. Här får du den bästa översikten över allt 
      du lagt in och kan städa upp bland sådant du glömt, har svårt att få gjort eller då din kalender 
      är överfull.
    </p>

    <h3>Fokusera på…</h3>
    <p>
      När du bestämt dig för att verkligen få en sak gjord är det här den perfekta startpunkten – den 
      hjälper dig att hålla fokus en bestämd tid och att hantera alla distraherande tankar genom att 
      lägga dem i en <i>distraktionslista</i>. När du jobbat klart går du igenom allt på distraktionslistan.
    </p>

    <h3>Kalender</h3>
    <p>
      IDA:s kalender är speciell. Den är framförallt till för att hjälpa dig att se hur tidsinbokad 
      (stapeln) eller hur mycket det totalt sett är att göra (bollen) en viss dag, vecka eller månad. 
      Ju mer du lägger in i IDA, desto bättre kan kalendern hjälpa dig hitta bra tider att planera 
      in nya saker på.
    </p>

    <h2>Vad är en Aktivitet?</h2>
    <p>
      Allt du lägger in i IDA! Det kan vara en enkel påminnelse att packa barnens matsäck till ett 
      stort projekt som att ordna ett bröllop eller byta jobb. IDA hjälper dig att hålla ordning på alla aktiviteter i din vardag genom att du planerar dem så som beskrivs här.
    </p>

    <h3>Prioritet och omfattning</h3>
    <p>
      Alla aktiviteter är inte lika viktiga eller akuta. Detta är IDAs enkla system för att 
      prioritera aktiviteter:
      <br>
      <b>A –</b> En viktig aktivitet som du också vet hur den genomförs utan att det tar jättelång tid
      <br>
      <b>B –</b> En tydlig, relativt liten och lätthanterlig aktivitet som dock inte behöver göras direkt
    </p>
    <p>
      Aktiviteter kan också vara stora, övergripande och bestå av många olika delar, tex &ldquo;Fixa 
      semestern&rdquo; eller &ldquo;Flytta&rdquo;. IDA använder dubbla bokstäver för dessa omfattande aktiviteter 
      (som gärna ska delas upp):
      <br>
      <b>AA –</b> omfattande viktiga aktiviteter
      <br>
      <b>BB –</b> omfattande mindre viktiga/akuta
    </p>

    <h3>När?</h3>
    <p>
      Tid är viktigt. När ska en aktivitet göras? Ibland är det lätt: &ldquo;möte kl 15&rdquo; eller &ldquo;påminn om 
      medicin kl 8:30&rdquo;. Ibland är det svårare – exakt när utför man t ex &ldquo;Fixa semestern&rdquo;? 
    </p>
    <p>
      För att fånga in dessa stora skillnader vill IDA att du väljer mellan två olika tidsinställningar:
      <br>
      <b>Exakt tid –</b> Du vet exakt, eller ungefär, när en aktivitet ska göras. Här kan du också ställa 
      aktiviteter som återkommer dags- eller veckovis.
      <br>
      <b>Tidsperiod –</b> Aktiviteten ska göras någon gång under tidsperioden (t.ex. &ldquo;nästa vecka&rdquo;). Du 
      sätter alltså både start- och slutdag.
      <br>
    </p>
    <p>
      Om du inte alls kan sätta en tid för aktiviteten kan du välja <i>Ingen tid</i>.
    </p>

    <h3>Hur länge?</h3>
    <p>
      Hur lång tid tar aktiviteten att blir klar med? Utmärkt tillfälle för dig att träna upp din 
      tidsuppfattning!
    </p>
    <p>
      Välj &ldquo;Cirka&rdquo; om du är osäker på tidsuppskattningen. Väljer du inget själv sätter IDA 15-45 
      minuter för A och B aktiviteter och 4-12 timmar för omfattande uppgifter.
    </p>

    <h2>Påminnelser – två sätt att inte glömma</h2>
    <p>
      När du planerar en aktivitet kan du lägga en påminnelse – välj bara hur långt innan aktiviteten 
      den ska komma <i>eller</i> sätt ett exakt klockslag.
    </p>
    <p>
      Dessutom – vill du bara snabbt lägga in en påminnelse senare idag för något du inte behöver 
      planera så noga så skriv in den i Att-Göra-listan och välj <i>Påminnelse</i>.
    </p>

    <h2>Vad syns i Att-Göra-listan?</h2>
    <p>
      Du väljer själv om Att-Göra-listan ska gälla för idag, idag+imorgon eller närmsta veckan. Då 
      visas alla aktiviter som bokats in på exakta tider under de dagarna. Men, IDA är smartare än 
      så! Aktiviteter utan exakt tid men med en start- och sluttid visas också om deras tidsperiod 
      ingår i de dagar du valt att visa. De viktigaste och mest akuta visas överst, de andra underst.
      Måste du scrolla för att se Att-Göra-listan? Då har du för många aktiviteter under 
      <i>Oplanerat!</i> Gör, radera eller planera dem så att de försvinner.
    </p>

    <h2>Hur får jag bort aktiviteter från Att-Göra-listan?</h2>
    <ul>
      <li>Gör dem – att få klicka i <i>klar-rutan</i> är alltid lika härligt!<li>
      <li><i>Radera</i> dem om de har blivit inaktuella.</li>
      <li>Byt tid – välj <i>Planera om</i> ifall du vill tänka om helt, annars kan du trycka på Senare. 
      Varning – fastna inte i skjuta-upp-träsket.</li>
      <li>Slarva/glöm (inget vi rekommenderar)… när tiden eller tidsperioden för en aktivitet 
      har passerats så försvinner den efter ett tag. Men då dyker den å andra sidan upp under 
      Organisera alla aktiviteter, med en varning på sig så att du inte ska glömma bort att ta hand om 
      den.</li>
    </ul>
    <p>
      Försvinner inte aktiviteterna? Tryck på <i class="fa fa-archive"></i> för att städa bort dem! 
    </p>

    <h2>Organisera mitt liv – hur lätt är det?</h2>
    <p>
      Det kan kännas övermäktigt, men gå regelbundet till den här sidan i IDA och fundera igenom 
      dina aktiviteter för att få bättre koll. Sortera aktiviteterna på olika sätt för att lättare hitta bland dem. Och framförallt – använd den utmärkta funktionen att lägga till underaktiviteter till en 
      aktivitet! Det är så du får en mycket mer lätthanterlig plan för stora projekt som att &ldquo;Planera 
      bröllop&rdquo; eller &ldquo;Flytta&rdquo;. Det bästa är att underaktiviteterna fortfarande är egna aktiviteter som 
      du kan boka in vissa tider eller lägga in påminnelser för.
    </p>
    <p>
      <i class="fa fa-plus"></i> Lägger till en ny underaktivitet<br>
      <i class="fa fa-chevron-right"></i> Gör aktuell aktivitet till en underaktivitet <br>
      <i class="fa fa-chevron-left"></i> Om du vill frigöra en underaktivitet från sin överaktivitet
    </p>

    <h2>Stapeln och bollarna i Kalendern – vad betyder de?</h2>
    <p>
      Först – ju mer du lägger in i IDA och ju bättre du planerar varje aktivitet, t ex gissar hur lång 
      tid den tar att göra, desto bättre kommer kalenders symboler kunna visa hur mycket bokad 
      och ledig tid du har.
    </p>
    <p>
      <b>Stapeln</b> visar den sammanlagda tiden för alla aktiviteter som du har gett en exakt tid för – 
      den lägger helt enkelt ihop den tidsåtgång du angett för dessa. Om längden ofta är ungefärlig 
      (cirka), så kommer toppen av stapeln att vara mer suddig/diffus då det är svår att säkert säga 
      exakt hur mycket tid du bokat upp dig på. Tider som överlappar varandra räknas bara en gång 
      – har du alltså bokat in 3 saker som börjar kl 14 och pågår en halvtimme kommer stapeln bara 
      visa en halvtimme.
    </p>
    <p>
      <b>Bollens</b> storlek och färg visar totalt sett hur mycket du har att göra – ju större och rödare desto mer fullpackad är dagen/veckan/månaden. Det går inte att säga exakt vad en boll av en viss 
      storlek och färg betyder, men när du använt IDA ett tag kommer du själv märka var din gräns 
      för vad du klarar av under en dag går. I bollen räknas alltså massa saker in, bland annat:
      <ul>
        <li>Stapelns längd</li>
        <li>Aktiviteter som är inbokade en tidsperiod och som du kanske kommer göra helt eller delvis just då.</li>
        <li>Om aktiviteterna är enklare (B) eller svårare (A) att skjuta upp</li>
        <li>Om det är många aktiviteter som ska göras en viss dag – då blir det mycket tid för att 
        ställa om mellan dem.</li>
      </ul>
    </p>

    <br>
    <br>
  </div>
</div>
