<div ng-init="trackDuration(task, this)" ng-class="{ 'checked': task.checked,
  'is-parent': task.isParent,
  'is-child': task.isChild,
  'finished': task.finished,
  'deleted': task.deleted,
  'show-children': task.showChildren,
  'expanded': task.expanded,
  'has-child-task-controls': page.indexOf('/organisera-alla-aktiviteter') === 0,
  'warning': !task.finished && !task.deleted && task.startTime && Date.now().valueOf() > ((task.endTime || task.startTime) + (task.timeType == 'period' ? 14400000 : 0)) }">

  <button class="caret" ng-click="task.showChildren=!task.showChildren"></button>

  <div>
    <div class="sub-task-ctrls">
      <button class="make-sub-task" ng-click="setModal('templates/modal.pick_parent_task.html', task.id)"></button>
      <button ng-click="addTask(task.id)" class="add-sub-task"></button>
      <button ng-click="detachChild(task.id)" class="make-free-task"></button>
    </div>

    <div class="right">
      <div  class="checkbox-wrapper"
            ng-click="task.checked=!task.checked; task.checked && playSound()"
            ng-hide="task.finished || task.deleted">
        <div class="checkbox"><i class="fa fa-check" ng-show="task.checked"></i></div>
      </div>

      <div class="right">
        <span class="parent-task" ng-bind="task.parent"></span>
        <span class="alert" ng-show="task.reminder" ng-class="{ overdue: task.reminder && task.reminderTime < Date.now() }" ng-click="task.reminderTime < Date.now() ? (task.reminder = false) : '';task.planned ? setModal('templates/modal.plan.html', task.id, planningCallback) : setModal('templates/modal.timer.html', task.id, planningCallback)" ng-bind="task.planned ? moment(task.reminderTime).format('D/M, HH:mm') : task.timeRemaining"></span>

        <span class="task-text"
              ng-click="task.expanded=!task.expanded"
              ng-hold="newTaskTitle=task.title;setModal('templates/modal.edit_task_name.html', task.id);">
          <span ng-show="task.planned" class="prio" ng-bind="
            (task.timeType === 'exact' ? (Math.floor(Date.now() / 86400000) == Math.floor(task.startTime / 86400000) ?
              moment(task.startTime).format('HH:mm') : moment(task.startTime).format('dd HH:mm')) :
              (task.important ? 'A' : 'B') + (task.complex ? (task.important ? 'A' : 'B') : '') + ':'
            )
          "></span>
          <span ng-bind="(task.timeType === 'exact' && task.planned ? '(' + (task.important ? 'A' : 'B') + (task.complex ? (task.important ? 'A' : 'B') : '') + '): ' : '') + task.title"></span>
        </span>

        <span class="time-label" ng-bind="
task.timeType === 'none' ? 'Ingen tid (syns ej i Att-Göra)' : (
  task.startTime && task.planned ? (
    task.timeType === 'period' ?
      moment(task.startTime).format('D MMM') + ' - ' + moment(task.endTime).format('D MMM') :
      moment(task.startTime).format('D MMM')
  ) :
  ' '
)"></span>

        <div class="actions">
          <button ng-hide="task.finished || task.deleted"
                  ng-click="setModal('templates/modal.plan.html', task.id, planningCallback);">
            <i class="fa fa-calendar"></i>
            Planera
          </button>
          <button ng-hide="task.finished || task.deleted"
                  ng-click="$parent.$parent.preventConfirmation = true; focus(task.id)">
            <i class="fa fa-clock-o"></i>
            Fokusera
          </button>
          <button ng-show="task.planned && !task.finished && !task.deleted && page.indexOf('/organisera-alla-aktiviteter') != 0"
                  ng-click="setModal('templates/modal.later.html', task.id)">
            <i class="fa fa-angle-double-right"></i>
            Senare
          </button>
          <button ng-hide="task.planned || task.finished || task.deleted || page.indexOf('/fokusera-pa-aktivitet') == 0"
                  ng-click="setModal('templates/modal.timer.html', task.id, planningCallback)">
            <i class="fa fa-bell-o"></i>
            Timer
          </button>
          <button ng-hide="task.finished || task.deleted"
                  ng-click="setModal('templates/modal.delete.html', task.id);">
            <i class="fa fa-trash-o"></i>
            Radera
          </button>
          <button ng-show="task.finished || task.deleted" ng-click="setModal('templates/modal.plan.html', task.id, planningCallback);">
            <i class="fa fa-level-up"></i>
            Återställ <!-- Re-plan a task that is in the archive -->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="children" ng-class="{'show': task.showChildren }">
  <li class="list-item"
      ng-repeat="task in getChildren(task.children) track by $index"
      ng-include="'templates/list_item.html'"></li>
</ul>
