<div class="plan">
  <h3>Planera aktivitet</h3>
  <button class="cancel" ng-click="cancelTask(modalTask);setModal('')"><i class="fa fa-times"></i></button>

  <input placeholder="Titel" class="task-title" type="text" ng-model="modalTask.title">

  <br><br>

  <h2>prioritet</h2>
  <div class="priority"><!--
  --><button ng-class="{ active: modalTask.complex == false && modalTask.important }"
             ng-click="modalTask.complex=false;modalTask.important=true;">A</button><!--
  --><button ng-class="{ active: modalTask.complex && modalTask.important }"
             ng-click="modalTask.complex=true;modalTask.important=true;">AA</button><!--
  --><button ng-class="{ active: modalTask.complex == false && !modalTask.important }"
             ng-click="modalTask.complex=false;modalTask.important=false;">B</button><!--
  --><button ng-class="{ active: modalTask.complex && modalTask.important == false }"
             ng-click="modalTask.complex=true;modalTask.important=false;">BB</button><!--
--></div>

  <br>

  <h2>när?</h2>
  <div class="type"><!--
 --><button ng-class="{ active: modalTask.timeType == 'exact' }" ng-click="modalTask.timeType='exact'">
      Exakt tid</button><!--
 --><button ng-class="{ active: modalTask.timeType == 'period' }" ng-click="modalTask.timeType='period';updatePeriodInput(modalTask);">
      Tidsperiod
    </button><!--
 --><button ng-class="{ active: modalTask.timeType == 'none' }" ng-click="modalTask.timeType='none'">
      Ingen tid
    </button><!--
--></div>

  <br>

  <div class="exact" ng-show="modalTask.timeType == 'exact'">
    <h2>start</h2>
    <button class="start-time"
            ng-click="setDatepicker('templates/modal.pick_starttime.html')"
            ng-class="{ 'selected': modalTask.startTime }"
            ng-bind="modalTask.startTime ? moment(modalTask.startTime).format('D MMMM YYYY, HH:mm') : 'Välj datum och tid'"></button>
    <br><br>
  </div>

  <div class="period" ng-show="modalTask.timeType == 'period'">
    <h2>aktiviteten skall göras...</h2>
    <label>
      <select ng-change="updatePeriodInput(modalTask)" ng-init="modalTask.timeInputType = modalTask.startTime ? 'exact' : 'today';updatePeriodInput(modalTask);" ng-model="modalTask.timeInputType">
        <option value="today">Idag</option><!-- Today -->
        <option value="x-days">Inom X dagar</option><!-- Within X days (shows input field below where you enter number of days) -->
        <option value="tomorrow">Imorgon</option><!-- Tomorrow -->
        <option value="week">I veckan</option><!-- This week -->
        <option value="next-week">Nästa vecka</option><!-- Next week -->
        <option value="month">Denna månad</option><!-- This month -->
        <option value="next-month">Nästa månad</option><!-- Next month -->
        <option value="three-months">Inom tre månader</option><!-- Within three months -->
        <option value="exact">Välj exakta dagar</option><!-- Choose exact days -->
      </select>
    </label>

    <div class="within-x-days" ng-show="modalTask.timeInputType == 'x-days'">
      Inom <input ng-change="updatePeriodInput(modalTask)" ng-model="modalTask.xDays" type="number" value="1"> dagar
    </div>

    <div class="datepickers" ng-show="modalTask.timeInputType == 'exact'">
      <h2>från</h2>
      <button ng-click="setDatepicker('templates/modal.pick_starttimeperiod.html')"
              ng-class="{ 'selected': modalTask.startTime }"
              ng-bind="modalTask.startTime ? moment(modalTask.startTime).format('ddd D MMM YYYY') : 'Välj datum'"></button>

      <h2>till</h2>
      <button ng-click="setDatepicker('templates/modal.pick_endtime.html')"
              ng-class="{ 'selected': modalTask.endTime }"
              ng-bind="modalTask.endTime ? moment(modalTask.endTime).format('ddd D MMM YYYY') : 'Välj datum'"></button>
    </div>
  </div>

  <div ng-show="modalTask.timeType == 'exact' || modalTask.timeType == 'period'">
    <div class="duration">
      <h2>hur länge?</h2>
      <div>
        <span class="hours">timmar</span>
        <span class="minutes">minuter</span>
      </div>
      <div>
        <div class="estimate-toggle" ng-click="modalTask.timeEstimated=!modalTask.timeEstimated">
          <button ng-class="{ active: !modalTask.timeEstimated }">
            exakt
          </button>
          <button ng-class="{ active: modalTask.timeEstimated }">
            cirka
          </button>
        </div>
        <input class="hours" ng-model="hours" ng-init="hours = Math.floor(modalTask.duration / 3600000)" type="number" placeholder="0">
        <input class="minutes" ng-model="minutes" ng-init="minutes = Math.floor((modalTask.duration % 3600000) / 60000)" type="number" placeholder="0">
      </div>
    </div>
    <br>

    <h2>visas i att göra</h2>
    <label class="show-in-todo" ng-show="modalTask.timeType == 'exact'">
      <select ng-model="modalTask.showInTodo">
        <option value="until marked as done">tills markerats som klar</option>
        <option value="until start time">fram till starttiden</option>
        <option value="until end of duration">även då aktiviteten pågår</option>
        <option value="never">visas inte alls</option>
      </select>
    </label>
    <label class="show-in-todo"  ng-show="modalTask.timeType == 'period'">
      <select>
        <option>under tidsperioden</option><!-- during the time period -->
        <option>tills markerats som klar</option><!-- until marked as done -->
      </select>
    </label>
    <br><br>
  </div>

  <div ng-show="modalTask.timeType == 'exact'">
    <div class="checkbox" ng-click="modalTask.reminder=!modalTask.reminder;modalTask.reminderTimeAdvance=0;">
      <i class="fa fa-check" ng-show="modalTask.reminder"></i>
    </div>
    <span ng-click="modalTask.reminder = !modalTask.reminder; modalTask.reminderTimeAdvance=0">
      Lägg till påminnelse
    </span><br>
    <label class="reminder" ng-show="modalTask.reminder">
      <select ng-model="modalTask.reminderTimeAdvance"
              ng-init="modalTask.reminderTimeAdvance = modalTask.reminderTimeAdvance || 0">
        <option value="0">Välj exakt</option>
        <option value="1">Vid vald tid</option>
        <option value="300000">5 minuter innan</option>
        <option value="900000">15 minuter innan</option>
        <option value="1800000">30 minuter innan</option>
        <option value="3600000">1 timme innan</option>
        <option value="7200000">2 timmar innan</option>
        <option value="86400000">1 dag innan</option>
        <option value="172800000">2 dagar innan</option>
        <option value="604800000">1 vecka innan</option>
      </select>
      <button class="exact-reminder" ng-show="modalTask.reminderTimeAdvance == 0"
            ng-click="setDatepicker('templates/modal.pick_remindertime.html')"
            ng-class="{ 'selected': modalTask.reminderTime }"
            ng-bind="modalTask.reminderTime ? moment(modalTask.reminderTime).format('D MMMM YYYY, HH:mm') : 'Välj datum och tid'"></button>
      <br><br>
    </label>

    <br>

    <div class="checkbox" ng-click="modalTask.repeated=!modalTask.repeated;modalTask.repeatPeriod='weekly';">
      <i class="fa fa-check" ng-show="modalTask.repeated"></i>
    </div>
    <span ng-click="modalTask.repeated=!modalTask.repeated;modalTask.repeatPeriod='weekly';">
      Återkommande
    </span><br>
    <div class="repeated" ng-show="modalTask.repeated">
      <label>
        <select ng-model="modalTask.repeatPeriod">
          <option value="daily">Dagligen</option>
          <option value="weekly">Veckovis</option>
          <option value="monthly">Månadsvis</option>
          <option value="yearly">Årligen</option>
        </select>
      </label>
      <div ng-if="modalTask.repeatPeriod!='weekly'">
      <span>Upprepa var</span>
      <input ng-init="modalTask.repeatLength = modalTask.repeatLength || 1"
             ng-model="modalTask.repeatLength"
             type="number">
      <span>:e dag</span>
      <span ng-show="modalTask.repeatPeriod=='daily'">Dagligen</span>
      <span ng-show="modalTask.repeatPeriod=='weekly'">Veckovis</span>
      <span ng-show="modalTask.repeatPeriod=='monthly'">Månadsvis</span>
      <span ng-show="modalTask.repeatPeriod=='yearly'">Årligen</span>
      <br>
      </div>
      <div class="weekly-repeat" ng-show="modalTask.repeatPeriod == 'weekly' && modalTask.repeated">
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(1) === -1 ? modalTask.repeatDays.concat([1]) : without(modalTask.repeatDays, 1)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(1) !== -1"></i></div> M
        </div>
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(2) === -1 ? modalTask.repeatDays.concat([2]) : without(modalTask.repeatDays, 2)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(2) !== -1"></i></div> T
        </div>
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(3) === -1 ? modalTask.repeatDays.concat([3]) : without(modalTask.repeatDays, 3)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(3) !== -1"></i></div> O
        </div>
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(4) === -1 ? modalTask.repeatDays.concat([4]) : without(modalTask.repeatDays, 4)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(4) !== -1"></i></div> T
        </div>
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(5) === -1 ? modalTask.repeatDays.concat([5]) : without(modalTask.repeatDays, 5)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(5) !== -1"></i></div> F
        </div>
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(6) === -1 ? modalTask.repeatDays.concat([6]) : without(modalTask.repeatDays, 6)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(6) !== -1"></i></div> L
        </div>
        <div ng-click="modalTask.repeatDays = modalTask.repeatDays.indexOf(0) === -1 ? modalTask.repeatDays.concat([0]) : without(modalTask.repeatDays, 0)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(0) !== -1"></i></div> S
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="period-reminder" ng-show="modalTask.timeType == 'period'">
    <div class="checkbox" ng-click="modalTask.reminder=!modalTask.reminder">
      <i class="fa fa-check" ng-show="modalTask.reminder"></i>
    </div>
    <span ng-click="modalTask.reminder=!modalTask.reminder">
      Lägg till påminnelse
    </span><br>
    <label class="reminder" ng-show="modalTask.reminder">
      <select ng-model="modalTask.reminderTimePeriod"
              ng-init="modalTask.reminderTimePeriod = modalTask.reminderTime ? 'exact' : 'firstDay'">
        <option value="firstDay">Första dagen i perioden</option>
        <option value="lastDay">Sista dagen i perioden</option>
        <option value="exact">Välj exakt</option>
      </select>
    </label>
    <button ng-show="modalTask.reminderTimePeriod == 'exact'"
            ng-click="setDatepicker('templates/modal.pick_remindertime.html')"
            ng-class="{ 'selected': modalTask.reminderTime }"
            ng-bind="modalTask.reminderTime ? moment(modalTask.reminderTime).format('D MMMM YYYY, HH:mm') : 'Välj datum och tid'"></button>
  </div>

  <div class="no-time" ng-show="modalTask.timeType == 'none'">
    <span>Är du helt säker på att du inte vill sätta en tid/period? Annars syns inte aktiviteten i Att-Göra-listan och riskeras glömmas bort.</span>
    <br>
    <div class="confirm-no-time">
      <button ng-click="modalTask.timeType = ''">Nej, ångra</button>
      <button ng-click="confirmNoTime = true" ng-class="{'active':confirmNoTime}">Ja, helt säker</button>
    </div>
    <br>
  </div>

  <div ng-show="
    (modalTask.important == true || modalTask.important == false) &&
    (modalTask.complex == true || modalTask.complex == false) &&
    (
      (modalTask.timeType == 'exact'&& modalTask.startTime) ||
      (modalTask.timeType == 'period'&& modalTask.startTime && modalTask.endTime) ||
      (modalTask.timeType == 'none' && confirmNoTime)
    )">
    <button class="save" ng-click="saveTask(modalTask, hours, minutes)">Spara</button>
  </div>

</div>
