<div class="pick-parent-task-modal">
  <button class="cancel" ng-click="setModal('')"><i class="fa fa-times"></i></button>

  <div class="child-task">
    <h2>Underaktivitet:</h2>
    <p>
      <b ng-bind="(modalTask.important ? 'A' : 'B') + (modalTask.complex ? (modalTask.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="modalTask.title"></span>
    </p>
    <i class="fa fa-long-arrow-down fa-2x"></i>
  </div>

  <h2>Välj huvudaktivitet</h2>

  <ul>
    <li ng-repeat="task in where($parent.tasks, { deleted: false, finished: false, isChild: false, planned: true }) track by $index"
        ng-if="task.id != modalTask.id"
        ng-class="{ active: selected === task }"
        ng-click="$parent.$parent.selected = task">
      <b ng-bind="(task.important ? 'A' : 'B') + (task.complex ? (task.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="task.title"></span>
    </li>
  </ul>

  <div class="confirmation">
    <button ng-disabled="clicked || !selected" ng-click="
      clicked=true;
      modalTask.expanded=false;
      modalTask.expanded = true;
      modalTask.isChild = true;
      modalTask.parent = selected.title;
      selected.isParent = true;
      selected.children.push(modalTask.id);
      save();
      setModal('')">Klar</button>
  </div>

</div>