<div class="timer-modal">
  <div>
    <button class="cancel" ng-click="setModal('')"><i class="fa fa-times"></i></button>

    <h1>Om hur lång tid vill du bli påmind?</h1>

    <h2 class="modal-sub-heading">
      <span ng-bind="modalTask.title"></span>
    </h2>

    <div class="divider"></div>

    <div ng-hide="modalTask.reminderTime > Date.now()" ng-init="timerHours=0;timerMinutes=15" class="time-inputs">
      <div>
        <div class="hours">
          <span>timmar</span>
          <input type="number" ng-model="timerHours">
        </div>
        <div class="minutes">
          <span>minuter</span>
          <input type="number" ng-model="timerMinutes">
        </div>
      </div>
      <button class="start" ng-click="setTimer(modalTask, Date.now().valueOf() + ((timerMinutes || 0) * 60000) + ((timerHours || 0) * 3600000));setModal('');">Starta</button>
    </div>

    <div ng-init="modalTask.reminderTime && trackDuration(modalTask, this)" ng-show="modalTask.reminderTime > Date.now()" class="timer">
      <div ng-bind="modalTask.timeRemaining"></div>
      <button class="clear" ng-click="setTimer(modalTask);setModal('');">Ta bort påminnelse</button>
      <br><br>
      <button class="clear" ng-click="setTimer(modalTask);">Ändra tid</button>
    </div>

  </div>
</div>
