<div class="delete-task-modal">
  <div>
    <button class="cancel" ng-click="setModal('')"><i class="fa fa-times"></i></button>

    <h1>Är du säker på att du vill radera aktiviteten?</h1>

    <h2 class="modal-sub-heading">
      <b ng-bind="(modalTask.important ? 'A' : 'B') + (modalTask.complex ? (modalTask.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="modalTask.title"></span>
    </h2>

    <div class="divider"></div>

    <button class="yes" ng-click="delete(modalTask.id);setModal('')">Ja, radera aktiviteten</button>
    <button class="no" ng-click="setModal('')">Avbryt</button>

    <span>Raderade aktiviteter finns kvar på Arkiv-sidan.</span>
  </div>
</div>
